<ion-view>
  <ion-content>

  </ion-content>
  <ion-nav-view> </ion-nav-view>


  <ion-tabs class="tabs-striped tabs-icon-top tabs-color-active-positive" position="bottom">


    <ion-tab title="Home" icon="ion-ios-pulse" ui-sref="app.home" ui-sref-active="active" ng-click="gotoHome()">
      <ion-nav-view></ion-nav-view>
    </ion-tab>


    <ion-tab title="Sell Kits " icon="ion-ios-chatboxes-outline" ui-sref="app.AddCustomer" ui-sref-active="active" ng-click="gotoSellkit()">
      <ion-nav-view></ion-nav-view>
    </ion-tab>


    <ion-tab title="Sold Kits " icon="ion-ios-gear" ui-sref="app.SoldkitList" ui-sref-active="active" ng-click="gotoSoldkit()">
      <ion-nav-view></ion-nav-view>
    </ion-tab>

    <ion-tab title="Account " icon="ion-ios-gear" ui-sref="app.Account" ui-sref-active="active" ng-click="gotoAccount()">
      <ion-nav-view></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>