<ion-view view-title="Add Customer" name="profile-view">
  <ion-header-bar class="bar-calm" align="center">
    <button class="button btn-calm" align="right" ng-click="backtoCustomer()">
      << </button>
        <h1 class="title">Add Product</h1>
  </ion-header-bar>
  <ion-content class="padding has-header has-subheader has-footer">
    <div>
      <ion-list ng-repeat="product in Products " class="no-lines">
        <div class="col col-100">
          <ion-item>Product Category :{{product.ProductCategory}} </ion-item>
          <ion-item>Brand :{{product.Brand}} </ion-item>
          <ion-item>Serial No : {{product.SerialNo}} </ion-item>
          <ion-item>Purchase Date : {{product.PurchaseDate}}</ion-item>
        </div>
      </ion-list>

    </div>
    <div class="row">
      <div class="col col-50">
        <button class="button btn-calm">Reset</button>
      </div>
      <div class="col col-50">
        <button class="button btn-calm" ng-click="gotokit()">Save and Proceed</button>
      </div>
    </div>
    <div class="float-button">
      <span class="height-fix">
        <a ui-sref="app.Sellkit.AddProductDetails" class="content">
          <i class="ion-plus-round"></i>
        </a>
      </span>
    </div>
  </ion-content>

</ion-view>