<ion-view view-title="Add Customer" name="profile-view">
  <ion-header-bar class="bar-calm" align="center">
    <h1 class="title">Add Customer</h1>
  </ion-header-bar>
  <ion-content class="has-header padding has-subheader has-footer has-subfooter">
    <form (ngSubmit)="logForm()">
      <ion-list>
        <ion-item>
          <label>
            Customer Name :
          </label>
          <input type="text" ng-model="data.username" placeholder="Enter Customer Name ..">
        </ion-item>
        <ion-item>
          <label>
            Contact :
          </label>
          <input type="number" ng-model="data.username" placeholder="Enter Contact ..">
        </ion-item>
        <ion-item>
          <label>
            State :
          </label>
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </ion-item>

        <ion-item>
          <label>
            City :
          </label>
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </ion-item>
        <ion-item>
          <label>
            Address :
          </label>
          <input type="text" ng-model="data.username" placeholder="Enter Address ..">

        </ion-item>
        <ion-item>
          <label>
            PIN :
          </label>
          <input type="text" ng-model="data.username" placeholder="Enter PIN ..">

        </ion-item>

        <div class="row">
          <div class="col col-50">
            <button class="button btn-calm">Reset</button>
          </div>
          <div class="col col-50">
            <button class="button btn-calm" ng-click="Save()">Save and Proceed</button>
          </div>
        </div>


      </ion-list>
    </form>


  </ion-content>
</ion-view>